<div style=" color: #000000; background-color: #a5b4ff; font-family: Arial, sans-serif;" align="center">
  <h1>Application say...</h1>
  <h2> Your ip: <%= @ip %></h2>
  <h3> Your user agent: <%= @user_agent %></h3>
</div>

